.my-name {
    font-family: 'Noto Sans Tc' , sans-serif;
}

#about {
    position: relative; 
    background-image: url(../assets/img/image25.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

.student-id {
    color: #9fd8e7;
}

#about::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
    z-index: 1;
}

#about .resume-section-content {
    position: relative;
    z-index: 2;
}

.hightlight-text {
    background-color: #f5f5f5 !important;
    padding: 15px !important;
    border-radius: 8px !important;
}

body {
    background-color: #dcfafd;
}

#sideNav {
    background: linear-gradient(180deg, #c2faff, #0051b3);
}

.my-name {
    color: #1166ef !important;
    font-weight: bold;
}

.my-email {
    color: #0e36ae;
}

.my-email:hover {
    color: #00c6ff !important;
    text-decoration: underline;
}

.bio-text {
    font-size: 20px;
    font-weight: 400;
}

.group title {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Muli' , sans-serif;
    color: #333;
    margin-bottom: 8px;
}

.accordion-body .custom-link-pink {
    color: #000000 !important;
}

.accordion-body .custom-link-pink:hover {
    color: #f77ec0 !important;
}

.accordion-body a {
    color: #ff81c6 !important;
    text-decoration: none !important;
}

.accordion-body a:hover {
    color: #da1581 !important;
}

.accordion-body .custom-link-blue {
    color: #fffefe !important;
    text-decoration: none !important;
}

.accordion-body .custom-link-blue:hover {
    color:#000000 !important;
}

.accordion-body .custom-link-white {
    color: #60cdff !important;
    text-decoration: none !important;
}

.accordion-body .custom-link-white:hover {
    color:hsl(0, 0%, 100%) !important;
}

.accordion-body .custom-link-black {
    color: #000000 !important;
    text-decoration: none !important;
}

.accordion-body .custom-link-black:hover {
    color:hsl(0, 0%, 0%) !important;
}

.accordion-body .custom-link-gray {
    color: #8a0371 !important;
    text-decoration: none !important;
}

.accordion-body .custom-link-gray:hover {
    color:hsl(0, 0%, 0%) !important;
}

.accordion-body .custom-link-green {
    color: #7abaf7 !important;
    text-decoration: none !important;
}

.accordion-body .custom-link-green:hover {
    color:hsl(220, 87%, 45%) !important;
}

.accordion-body .custom-link-yellow {
    color: #df0000 !important;
    text-decoration: none !important;
}

.accordion-body .custom-link-yellow:hover {
    color:hsl(19, 70%, 55%) !important;
}

.accordion-body .custom-link-purple {
    color: #2901cd !important;
    text-decoration: none !important;
}

.accordion-body .custom-link-purple:hover {
    color:hsl(235, 87%, 62%) !important;
}

.accordion-body .custom-link-brown {
    color: #6856af !important;
    text-decoration: none !important;
}

.accordion-body .custom-link-brown:hover {
    color:hsl(235, 100%, 84%) !important;
}

.accordion-body .custom-link-teal {
    color: rgb(255, 125, 50) !important;
    text-decoration: none !important;
}

.accordion-body .custom-link-teal:hover {
    color:hsl(289, 43%, 51%) !important;
}

.accordion-body .custom-link-violet {
    color: rgb(249, 255, 131) !important;
    text-decoration: none !important;
}

.accordion-body .custom-link-violet:hover {
    color:hsl(60, 100%, 50%) !important;
}

.move-down {
margin-top: 15px;
}

.text-primary-emphasis {
    font-size: 20px;
    color: #f39191 !important;
    text-decoration: underline !important;
}

.text-secondary {
    font-size: 20px;
    color: #b2b2b2 !important;
    text-decoration: underline !important;
}

.textA {
    font-size: 20px;
    color: #000000 !important;
    text-decoration: underline !important;
}

.textB {
    font-size: 20px;
    color: #1bef3e !important;
    text-decoration: underline !important;
}

.my-button-style {
    font-size: 22px;
    font-family: "Lobster" ,sans-serif;
    font-weight: bold;
}

.my-dlink {
    color: #000;
    text-decoration: none;
}

.text-info {
    font-size: 20px;
    color: #f71e1e;
    text-decoration: underline !important;
}

.link-danger {
    font-size: 20px;
}

.fan {
    font-size: 30px;
    color: #000000 !important;
    text-decoration: none;
    font-family: 'Muli', sans-serif;
    margin-top: 20px;
    display: inline-block;
}

.card-text {
    color: #000;
}

.small-carousel {
  width: 90%;
  margin: 0 auto;
}

.small-carousel img {
  max-height: 600px;
  object-fit: cover;
}

.carousel-inner img {
  height: 400px;
  object-fit: contain;
  background-color: #000;
}

.bg-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 1;
}

.highlight-box {
  color: #ffffff;
  background-color: #082d52;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-left: 5px solid #fff1b4;
  font-weight: 500;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.edu-img {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover; 
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    margin-bottom: 20px;
}

.text-primary {
    color: #140663 !important;
}

.album-image {
  width: 60%;
  height: 255px;
  object-fit: cover;
  border-radius: 8px;
}

#Contact {
    position: relative; 
    background-image: url(../assets/img/image33.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

#Contact::before {
    content: "";
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4); 
    z-index: 1;
}

#Contact .resume-section-content {
    position: relative;
    z-index: 2;
}

.social {
    color: #9fe6f7 !important;
}